<div class="operation-container">
    <div class="operation-form">
        <form [formGroup]="operationForm">
            <div class="input-container">
                <div class="input-logo">
                    <i class="fa fa-pencil"></i>
                </div>
                <div class="form-input">
                    <input type="text" class="form-control" formControlName="concept" placeholder="Concept or reason">
                </div>
            </div>
            <div class="input-container">
                <div class="input-logo">
                    <i class="fa fa-money"></i>
                </div>
                <div class="form-input">
                    <input type="text" class="form-control" formControlName="amount" placeholder="$ Amount">
                </div>
            </div>     
            <div class="input-container">
                <div class="input-logo">
                    <i class="fa fa-cogs"></i>
                </div>
                <div class="form-input">
                    <select class="form-control" formControlName="type">
                        <option [value]="" [disabled]="true">Choose an option</option>
                        <option *ngFor="let option of options" [value]="option.value">{{option.msg}}</option>
                    </select>
                </div>
            </div>
            <button (click)="performOperation()" [disabled]="!operationForm.valid" class="btn btn-outline-success">Do it!</button>                                          
        </form>  
    </div>
</div>